@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&family=Roboto+Condensed:wght@700&display=swap');
/* Aquí va a ir mi plantilla de colores, fuentes, tamaños, etc. */

html {
    /* Colores */
    --colorPrimario: #08546C;
    --colorSecundario: #BAF7FF;
    --colorTerciario: #8F0D59; /* Este lo más probable es que no lo utilice*/
    --colorFondo: #3D3D3D40;
    --colorFondoSecundario: #5D5D5D;
    --colorFondoAzul: #08546C50;

    /* Tipografías */
    --poppins: 'Poppins', sans-serif;
    --outfit: 'Outfit', sans-serif;

    /* Tamaños de letra */

    --xs: 1.2em;
    --s: 1.5em; /* 24/16 */
    --sm: 1.875em; /* 30/16 */ 
    --m: 3em; /* 48/16 */
    --ml: 4em; /* 64/16 */
    --l: 6em; /* 96/16 */

    scroll-behavior: smooth;

}

/* Experimento nuevo para aplicarle estilos automáticamente con clases */
/* Tamaños de letra */
.xs {
    font-size: var(--xs);
}

.s {
    font-size: var(--s);
}
.sm {
    font-size: var(--sm);
}
.m {
    font-size: var(--m);
}
.ml {
    font-size: var(--ml);
}
.l {
    font-size: var(--l);
}

/* Tipografías */
.p {
    font-family: var(--poppins);
}

.o {
    font-family: var(--outfit);
}

.i {
    font-style: italic;
}

.bold{
    font-weight: 400;
}

#map {
    filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.collapsible {
    display: none;

    z-index: 9999;
}

.hiddenMenu {
    max-width: 0;
    overflow: hidden;

    position: absolute;

    width: 100%;
    height: 100%;

    z-index: 9998;

    background-color: #3d3d3d3f;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );

    display: flex;
    flex-direction: column;

    transition: max-width 1s;
}
.hiddenMenu .nav {
    flex-direction: column;
}
/* =============================================================================== */

body{
    background-color: #3D3D3D;
}

/* ============================HOME============================= */

.homeHero .wrapperTitulo {
    display: none;
}

.hero {
    height: 100vh;
    width: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}

.homeHero {
    background-image: url('../src/images/Home/HeroHome.jpg');
}

.overlay {
    position: absolute;

    height: 100%;
    width: 100%;

    left: 0;
    top: 0;

    background-color: #00000033;

    z-index: 9;
}
.overlaySlides {
    position: absolute;

    height: 100%;
    width: 100%;

    left: 0;
    top: 0;

    background-color: #22222279;

    z-index: 9;
}

nav {
    display: flex;
    flex-direction: row;

    height: 150px;
    width: 100%;

    font-weight: 200;

    position: relative;

    z-index: 9999;
}

.nav {
    flex: 2;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav a {
    color: white;
    text-decoration: none;

    transition: color .5s;
}

.nav li {
    transition: transform .4s;
}

.nav a:hover, li:hover {
    transform: scale(1.1);
    color: #3D3D3D;
    cursor: pointer;
}

.collapse {
    display: none;
}

.active {
    color: var(--colorPrimario) !important;
}

.wrapperLogo {
    height: 100%;
    display: flex;

    flex: 1;

    justify-content: center;
    align-items: center;
}

.wrapperLogo:not(.onHero) {
    justify-content: start;
}

.wrapperLogo:not(.onHero) .logo {
    background-image: url('../src/images/Home/logo.svg');
    padding-bottom: 45%;
}

.wrapperLogo .logo {
    background-image: url('../src/images/Home/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    
    padding-bottom: 25%;

    width: 200px;

    color: white;
}

.cita {

    position: absolute;
    width: 70%;

    left: 10%;
    bottom: 15%;

    color: white;
    font-weight: 200;

    text-align: end;

    z-index: 999;
}

.cita > p:last-child {
    margin-top: 4%;
}

/* ==================================Emblematic Places========================== */

.swiper {
    width: 100%;
    height: 100vh;
}

.diapositiva {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;

    justify-content: center;
}

.hogwarts {
    background-image: url('../src/images/Home/tren.jpg');
}

.button {
    color: white;
    margin: 0 5%;
}

 .swiper > h1 {
    font-weight: 100;
    color: white;
}

.sliderHome .swiper-pagination {
    display: flex;
    width: 80% !important;
    margin: 1% 10%;
    justify-content: space-around;
}

.sliderHome .swiper-pagination-bullet {
    background: white;

    width: 10%;
    height: 5px;

    border-radius: 0;
}

.contenido {
    color: white;

    width: 80%;

    align-self: end;

    z-index: 999;
    
    display: flex;
    flex-direction: column;
}

.contenido .wrapper > h1 {
    text-align: center;
    text-shadow: black 1px 1px 5px;
}

.swiper > h1 {
    position: absolute;

    margin: 3% 0;

    text-align: center;
    width: 100%;

    z-index: 9999;
}


.tarjeta{
    box-sizing: border-box;

    text-align: justify;
    margin: 1% 3% 7% 3%;

    background-color: #3D3D3D30;
    font-weight: 100;

    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba(56, 56, 56, 0.18);

    padding: 2% 4%;

    border-radius: 4px;
}

/* ==================================Unique Experiences========================== */

#map {
    width: 100%;
    height: 70vh;
}

.contenidoMapa {
    width: 70%;

    background-color: #ffffff;

    margin: 0 auto;  

    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}
.uniqueExperiences {
    position: relative;
}

.tituloExperiences {
    position: absolute;
    top: 2%;
    width: 100%;

    text-align: center;
    color: white;
    font-weight: 100;

    z-index: 999;
}


.fotoContenido {
    width: 100%;
    padding-bottom: 50%;

    background-size: cover;

    position: relative;
}

.fotoInverness{
    background-image: url('../src/images/Home/castle2Movil.jpg');
}

.fotoPerth{
    background-image: url('../src/images/Home/perth.jpg');
}

.contenidoMapa .texto {
    margin: 5% 10%;

    color: var(--colorFondoSecundario);
    font-family: 'Outfit';
    font-size: var(--s);

    text-align: justify;
}

.boton {
    width: fit-content;

    margin: 5% auto;
    padding: 1% 5%;
    border: 1px solid rgba(56, 56, 56, 0.726);

    color: rgba(56, 56, 56, 0.726);

    transition: transform .2s, background-color .5s, color .5s;
}

.boton:hover{
    cursor: pointer;

    transform: scale(1.1);
    color: white;
    background-color: var(--colorPrimario);
}

.boton a {
    color: inherit;
    text-decoration: none;
}

.textoFoto {
    position: absolute;

    bottom: 4%;
    left: 14%;

    font-weight: 100;

    color: white;
    font-family: 'Outfit';
    font-size: var(--m);
}

.overlayExp {
    background-color: #00000062;
}

/* =============================== Cities of Scotland ================================== */


.edimburgh {
    background-image: url('../src/images/Home/edimburgo.jpg');
}

/* ================================= HISTORY ========================================== */
.entradilla {
    display: flex;
}

.entradilla > div {
    flex: 1;
}

.containerTextoEntradilla {
    font-weight: 200;
    color: white;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.containerTextoEntradilla h1 {
    text-align: center;
    margin: 5% 0 3% 0;
}

.containerTextoEntradilla p {
    text-align: justify;
    margin: 5% 10% 0 10%;
    line-height: 186.5%;
}

.navHistory {
    display: flex;

    height: 50px;
    margin-top: 5%;

    align-items: center;
    justify-content: space-evenly;
}

.navHistory a{
    color: white;
    font-family: var(--poppins);
    font-weight: 400;
    text-decoration: none;
}

.containerFotoEntradilla {
    background-image: url('../src/images/Home/mapaHistoria.jpg');
    padding-bottom: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;
}

.wrapParallax {
    width: 100%;
    height: 350px;

    position: relative;
}

.parallax {
    height: 100%;
    width: 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion {
    margin: 5% 5%;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.siglo {
    display: flex;
}

.seccion > h1 {
    margin: 5% 0;
}

.galeriaSiglo5{
    flex: 1;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 5%;

    justify-content: center;
    gap: 50px;

    /* margin: 5% 5%; */
}

.fotoPrincipal {
    position: relative;
}

.fotoPrincipal:hover .textoPrincipal {
    display: flex;
}

.fotoPrincipal img {
    width: 100%;

    filter: brightness(.7);

    animation: all .5s;
}

.fotoPrincipal:hover img {
    filter: brightness(.3);
}

.textoPrincipal {
    display: none;

    position: absolute;

    color: white;
    font-weight: 200;

    flex-direction: column;
    justify-content: center;

    top: 0;
    height: 100%;
}

.textoPrincipal * {
    text-align: center;
    
    overflow: scroll;
}

.textoPrincipal h1 {
    flex: 1;
    color: grey;
    margin-top: 5%;
    text-align: center;
}

.textoPrincipal p {
    flex: 4;
    line-height: 180%;
    text-align: justify;
    margin: 0 3%;
}

.fotosAdicionales {
    align-self: center;

    width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;
}

.fotosAdicionales img{
    width: 200px;
    height: auto;
    margin: 2% 0;
}

.siglo .boton {
    color: white;
    background-color: grey;

    padding: 20px 40px;
    margin: 3% 0;

    font-family: var(--poppins);

    /* align-self: end; */
}

.siglo20 .boton {
    color: white;
    background-color: grey;

    padding: 20px 40px;
    margin: 3% auto;

    font-family: var(--poppins);

    /* align-self: end; */
}

.seccion > p {
    text-align: justify;
    line-height: 186.5%;
}

.seccion {
    color: white;
    font-weight: 200;
}

.fotos20 {
    width: 100%;
    padding-bottom: 100%;

    background-image: url('../src/images/Home/siglo20/principalCuadrada.jpg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

}

.wrapperSiglo20 {
    display: flex;
}



.fotoParallax1 {
    background-image: url('../src/images/Home/parallax1.jpg');
}
.fotoParallax2 {
    background-image: url('../src/images/Home/parallax2.jpg');
}
.fotoParallax3 {
    background-image: url('../src/images/Home/parallax3.jpg');
}
.fotoParallax4 {
    background-image: url('../src/images/Home/parallax4.jpg');
}
.fotoParallax5 {
    background-image: url('../src/images/Home/parallax5.jpg');
}



/* ===================================================================================== TRAVEL ========================================================================================== */
.homeTravel {
    background-image: url('../src/images/Travel/Hero.jpg');
}

.homeTravel .wrapperTitulo {
    display: flex;
    position: absolute;
    top: 25%;

    z-index: 999;

    width: 100%;
    height: 200px;

    overflow: hidden;

    align-items: center;
    justify-content: start;

    padding-left: 10%;

    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: var(--ml);
    font-weight: 100;
    line-height: 125%;
}

.homeTravel .overlayHero {
    position: absolute;
    
    height: 100%;
    width: 100%;

    left: 0;
    top: 0;

    background-color: #0000005d;

    z-index: 1;
}

/* ==========================================================================ROUTES=========================================== */
.homeRoutes {
    background-image: url('../src/images/Routes/hero.jpg');
}
.homeRoutes .wrapperTitulo {
    display: flex;
    box-sizing: border-box;

    position: absolute;
    top: 0;

    z-index: 999;

    width: 100%;
    height: 100%;

    overflow: hidden;

    align-items: center;
    justify-content: center;

    overflow: hidden;

    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: var(--m);
    font-weight: 100;
    line-height: 125%;

    letter-spacing: 35px;
}

.homeRoutes .overlayHero {
    position: absolute;
    
    height: 100%;
    width: 50%;

    left: 0;
    top: 0;

    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );

    background-color: #00000077;

    z-index: 1;
}

.routesTitle {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around;
    height: 100%;
    width: 0;
}

.routesTitle p {
    letter-spacing: 0;
}

.sliderRoute {
    position: relative;
}

.swiperCoast > h1{
    position:absolute;
    text-align: center;
}

.thurso {
    background-image: url('../src/images/Routes/Ruta1.jpeg');
}

.overlayRoutes {
    position: absolute;
    
    height: 100%;
    width: 100%;

    left: 0;
    top: 0;

    background-color: #20202046;

    z-index: 1;
}

.sliderRoute .swiper-pagination-bullet {
    background: transparent;
    color: white;

    width: fit-content;

    font-size: var(--s);
    font-family: var(--poppins);
}

.sliderRoute .swiper-pagination {
    bottom: 4%;
}

.sliderRoute .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    display: none;
}

.sliderRoute .swiper-button-next, .sliderRoute .swiper-button-prev {
    top: 93%;
    z-index: 999;
}
.sliderRoute .swiper-button-next {
    right: 25%;
}

.sliderRoute .swiper-button-prev {
    left: 25%;
}

.sliderRoute .tarjeta{
    margin-bottom: 100px;
}

@media screen and (max-width: 1160px) {

    .homeHero {
        background-image: url('../src/images/Home/hero.jpg');
    }

    .homeHero .overlayHero {
        position: absolute;
    
        height: 100%;
        width: 100%;
    
        left: 0;
        top: 0;
    
        background-color: #0000005d;
    
        z-index: 1;
    }

    .heroHome .titulo {
        color: rgb(177, 177, 177);
        font-family: 'Roboto Condensed';
        font-size: var(--l);

        text-shadow:3px 3px 20px #3D3D3D;
        
        letter-spacing: 32px;
        margin-right: -32px;
    }

    .siglo, .wrapperSiglo20 {
        flex-direction: column;
    }

    .fotos20{
        background-image: url('../src/images/Home/siglo20/principal.jpg');
        padding-bottom: 50%;
    }

}

@media screen and (max-width: 780px) {
    html {
        --xs: 1.2em;
        --s: 1.0625em; /* 17/16 */
        --sm: 1.5em; /* 24/16 */ 
        --m: 2em; /* 32/16 */
        --ml: 2.6875em; /* 43/16 */
        --l: 3em; /* 96/16 */
    }

    .contenidoMapa {
        width: 100%;
    }

    /* nav {
        position: fixed;
    } */

    .wrapperLogo {
        justify-content: start;
    }

    .logo {
        margin-left: 5%;
    }

    .collapsible {
        display: block;

        right: 0;
        top: 4%;

        position: fixed;

    }

    .menuButton {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    .menuButtonBurger{
        width: 50px;
        height: 2px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(82, 82, 82, 0.397);
        transition: all .5s ease-in-out;
    }

    .menuButtonBurger::before,
    .menuButtonBurger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(82, 82, 82, 0.397);
        transition: all .5s ease-in-out;
    }

    .menuButtonBurger::before {
        transform: translateY(-16px);
    }

    .menuButtonBurger::after {
        transform: translate(25px, 16px);
        width: 25px;
    }

    .menuButton.open .menuButtonBurger {
        transform: translateX(-50px);
        background-color: transparent;
        box-shadow: none;
    }

    .menuButton.open .menuButtonBurger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menuButton.open .menuButtonBurger::after {
        width: 50px;
        transform: rotate(-45deg) translate(35px, 35px);
    }

    nav .nav {
        display: none;
    }

    .sliderHome .swiper-pagination-bullet {
        height: 2px;
    }

    .sliderRoute .swiper-button-next {
        right: 10%;
    }
    
    .sliderRoute .swiper-button-prev {
        left: 10%;
    }

    .sliderHome .swiper > h1 {
        text-align: left;
        margin: 10% 0 0 10%;
    }

    .swiperCoast > h1 {
        margin: 10% 0 0 0;
    }

    .entradilla {
        flex-direction: column;
    } 


    .parallax {
        background-attachment: local;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 470px) {
    html {
        --l: 2em;
        --m: 1.5em;
        --sm: 1.1em;
    }

    .hero:not(.homeRoutes) .titulo {
        letter-spacing: 25px;
    }

    .sliderHome .swiper > h1 {
        text-align: left;
        margin: 15% 0 0 15%;
    }

    .swiperCoast > h1 {
        margin: 15% 0 0 0;
    }

    .tarjeta {
        margin-bottom: 20%;
    }

    .sliderHome .swiper-pagination {
        height: 1%;
    }
    
}




