@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&family=Roboto+Condensed:wght@700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* Aquí va a ir mi plantilla de colores, fuentes, tamaños, etc. */

html {
    /* Colores */
    --colorPrimario: #08546C;
    --colorSecundario: #BAF7FF;
    --colorTerciario: #8F0D59; /* Este lo más probable es que no lo utilice*/
    --grisOscuro: #3D3D3D;
    --colorFondo: #3D3D3D40;
    --colorFondoSecundario: #5D5D5D;
    --colorFondoAzul: #08546C50;

    /* Tipografías */
    --poppins: 'Poppins', sans-serif;
    --outfit: 'Outfit', sans-serif;

    /* Tamaños de letra */

    --xxs: 1em;
    --xs: 1.1em;
    --s: 1.5em; /* 24/16 */
    --sm: 1.8em; /* 30/16 */ 
    --m: 2em; /* 48/16 */
    --ml: 3em; /* 64/16 */
    --r: 4em;
    --l: 5em; /* 96/16 */

    scroll-behavior: smooth;

}

/* Experimento nuevo para aplicarle estilos automáticamente con clases */
/* Tamaños de letra */
.xxs {
    font-size: var(--xxs);
}

.xs {
    font-size: var(--xs);
}

.s {
    font-size: var(--s);
}
.sm {
    font-size: var(--sm);
}
.m {
    font-size: var(--m);
}
.ml {
    font-size: var(--ml);
}
.l {
    font-size: var(--l);
}

/* Tipografías */
.p {
    font-family: var(--poppins);
}

.o {
    font-family: var(--outfit);
}

.i {
    font-style: italic;
}

.bold{
    font-weight: 400;
}

.tc {
    text-align: center;
}

.al {
    text-align: left !important;
    margin-left: 10%;
    margin-top: 5%;
}

.mapFilter {
    filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.collapsible {
    display: none;

    z-index: 9999;
}

.hiddenMenu {
    max-width: 0;
    overflow: hidden;

    position: absolute;

    width: 100%;
    height: 100%;

    z-index: 9998;

    background-color: #3d3d3d3f;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );

    display: flex;
    flex-direction: column;

    transition: max-width 1s;
}
.hiddenMenu .nav {
    flex-direction: column;
}
/* =============================================================================== */

body{
    background-color: #3D3D3D;
}

/* ============================HOME============================= */

.homeHero .wrapperTitulo {
    display: none;
}

.hero {
    height: 100vh;
    width: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
}

.homeHero {
    background-image: url('../src/images/Home/HeroHome.jpg');
}

.overlay {
    position: absolute;

    height: 100%;
    width: 100%;

    left: 0;
    top: 0;

    background-color: #00000033;

    z-index: 9;
}
.overlaySlides {
    position: absolute;

    height: 100%;
    width: 100%;

    left: 0;
    top: 0;

    background-color: #22222279;

    z-index: 9;
}

nav {
    display: flex;
    flex-direction: row;

    height: 150px;
    width: 100%;

    font-weight: 200;

    position: relative;

    z-index: 9999;
}

.nav {
    flex: 2;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav a {
    color: white;
    text-decoration: none;
}

.link a {
    transition: all .4s ease-in;
}

.collapse {
    display: none;
}

.link a {
    position: relative
}

.link a::after {
    content: "";
    position: absolute;

    height: 1px;
    width: 15px;
    max-width: 0;

    right: -35%;
    top: 50%;

    background-color: white;

    z-index: 999;

    transition: all .2s ease-in-out;
}

.link a::before {
    content: "";
    position: absolute;

    height: 1px;
    width: 15px;
    max-width: 0;

    left: -35%;
    top: 50%;

    background-color: white;

    z-index: 999;

    transition: all .2s ease-in-out;
}

.active::before, .active::after {
    max-width: 100% !important;
}

.link:hover {
    cursor: pointer;
}

.link:hover a:not(.active)::after, .link:hover a:not(.active)::before {
    max-width: 100%;
}

.active::before, .active::after {
    max-width: 100%;
    transition: all .2s ease-in-out;
}

.link:hover .active::before, .link:hover .active::after {
    max-width: 0 !important;
}

.wrapperLogo {
    height: 100%;
    display: flex;

    flex: 1;

    justify-content: center;
    align-items: center;
}


.wrapperLogo .logo {
    background-image: url('../src/images/Home/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    
    padding-bottom: 25%;

    width: 200px;

    color: white;
}

.cita {

    position: absolute;
    width: 70%;

    left: 10%;
    bottom: 15%;

    color: white;
    font-weight: 200;

    text-align: end;

    z-index: 999;
}

.cita > p:last-child {
    margin-top: 4%;
}

/* ==================================Emblematic Places========================== */

.swiper:not(.container) {
    width: 100%;
    height: 100vh;
}

.diapositiva {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;

    justify-content: center;
}

.swiper-slide:hover{
    cursor: grab;
}

.hogwarts {
    background-image: url('../src/images/Home/tren.jpg');
}

.bridge {
    background-image: url('../src/images/Home/EmblematicPlaces/bridgeToKnowhere.jpg');
    background-position: right;
}

.piramid {
    background-image: url('../src/images/Home/EmblematicPlaces/craigngormsPiramid.jpeg');
}

.storr {
    background-image: url('../src/images/Home/parallax4.jpg');
    background-position: right;
}

.devils {
    background-image: url('../src/images/Home/EmblematicPlaces/devilspulprit.jpg');
}

.button {
    color: white;
    margin: 0 5%;
}

 .swiper > h1 {
    font-weight: 100;
    color: white;
}

.sliderHome .swiper-pagination {
    display: flex;
    width: 80% !important;
    margin: 1% 10%;
    justify-content: space-around;
}

.sliderHome .swiper-pagination-bullet {
    background: white;

    width: 10%;
    height: 5px;

    border-radius: 0;
}

.contenido {
    color: white;

    width: 80%;

    align-self: end;

    z-index: 999;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    margin: 1% 3% 100px 3%;
}

.contenido .wrapper > h1 {
    text-align: center;
    text-shadow: black 1px 1px 5px;
    position: relative;
    z-index: 999;
}

.swiper > h1 {
    position: absolute;

    margin: 3% 0;

    text-align: center;
    width: 100%;

    z-index: 9999;
}


.tarjeta{
    box-sizing: border-box;

    text-align: justify;

    background-color: #3D3D3D30;
    font-weight: 100;

    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba(56, 56, 56, 0.18);

    padding: 2% 4%;

    border-radius: 4px;
}

/* ==================================Unique Experiences========================== */

#map {
    width: 100%;
    height: 70vh;
}

.contenidoMapa {
    width: 70%;

    background-color: #ffffff;

    margin: 0 auto;  

    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}
.uniqueExperiences {
    position: relative;
}

.tituloExperiences {
    position: absolute;
    top: 2%;

    text-align: center;
    color: white;
    font-weight: 100;

    z-index: 999;
}


.fotoContenido {
    width: 100%;
    padding-bottom: 50%;

    background-size: cover;

    position: relative;
}

.fotoInverness{
    background-image: url('../src/images/Home/castle2Movil.jpg');
}

.fotoPerth{
    background-image: url('../src/images/Home/perth.jpg');
}

.contenidoMapa .texto {
    margin: 5% 10%;

    color: var(--colorFondoSecundario);
    font-family: 'Outfit';
    font-size: var(--s);

    text-align: justify;
}

.boton {
    width: fit-content;

    margin: 5% auto;
    padding: 1% 5%;
    border: 1px solid rgba(56, 56, 56, 0.726);

    color: rgba(56, 56, 56, 0.726);

    transition: transform .2s, background-color .5s, color .5s;
}

.boton:hover{
    cursor: pointer;

    transform: scale(1.1);
    color: white;
    background-color: var(--colorPrimario);
}

.boton a {
    color: inherit;
    text-decoration: none;
}

.textoFoto {
    position: absolute;

    bottom: 4%;
    left: 14%;

    font-weight: 100;

    color: white;
    font-family: 'Outfit';
    font-size: var(--m);
}

.overlayExp {
    background-color: #00000062;
}

/* =============================== Cities of Scotland ================================== */


.edimburgh {
    background-image: url('../src/images/Home/edimburgo.jpg');
}

.glass {
    background-image: url('../src/images/Home/cities/glass.webp');
}

.perthHighlands {
    background-image: url('../src/images/Home/cities/perth.jpg');
    background-position: left;
}

.inverness {
    background-image: url('../src/images/Home/cities/inverness.jpg');
}

.aberdeen {
    background-image: url('../src/images/Home/cities/aberdeen.jpg');
}

/* ================================= HISTORY ========================================== */
.entradilla {
    display: flex;
}

.entradilla > div {
    flex: 1;
}

.containerTextoEntradilla {
    font-weight: 200;
    color: white;

    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.containerTextoEntradilla h1 {
    text-align: center;
    margin: 5% 0 3% 0;
}

.containerTextoEntradilla p {
    text-align: justify;
    margin: 5% 10% 0 10%;
    line-height: 186.5%;
}

.navHistory {
    display: flex;

    height: 50px;
    margin: 0 0 10% 0;

    align-items: center;
    justify-content: space-evenly;
}

.navHistory a{
    color: white;
    font-family: var(--poppins);
    font-weight: 200;
    text-decoration: none;
    
    transition: all .5s;
}

.navHistory a:hover {
    transform: scale(1.1);
    color: #08546C;
}


.navHistory {
    font-size: var(--sm);
}

.containerFotoEntradilla {
    background-image: url('../src/images/Home/mapaHistoria.jpg');
    padding-bottom: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    position: relative;
}

.wrapParallax {
    width: 100%;
    height: 350px;

    position: relative;
}

.parallax {
    height: 100%;
    width: 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.seccion {
    margin: 2% 5%;

    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.siglo {
    display: flex;
}

.seccion > h1 {
    margin: 5% 0;
}

.galeriaSiglo5{
    flex: 1;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 5%;

    justify-content: center;
    gap: 50px;

    /* margin: 5% 5%; */
}

.fotoPrincipal {
    position: relative;
}

.fotoPrincipal:hover .textoPrincipal {
    display: flex;
}

.fotoPrincipal img {
    width: 100%;

    filter: brightness(.7);

    animation: all .5s;
}

.fotoPrincipal:hover {
    cursor: pointer;
}

.fotoPrincipal:hover img, .fotoPrincipal:hover .fotos20 {
    filter: brightness(.3);
}

.textoPrincipal {
    display: none;

    position: absolute;

    color: white;
    font-weight: 200;

    flex-direction: column;
    justify-content: center;

    top: 0;
    height: 100%;
}

.textoPrincipal * {
    text-align: center;
}

.textoPrincipal h1 {
    flex: 1;
    color: grey;
    margin-top: 5%;
    text-align: center;
}

.textoPrincipal p {
    flex: 4;
    line-height: 180%;
    text-align: justify;
    margin: 0 3%;
    overflow: auto;
}

.fotosAdicionales {
    align-self: center;

    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: center;

    overflow: hidden;
}

.fotosAdicionales .img {
    width: 30%;
    height: 100%;

    overflow: hidden;
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    transition: all .2s ease-in;
}

.fotosAdicionales img:hover {
    transform: scale(1.2);
}

.siglo .boton {
    color: white;
    background-color: grey;

    padding: 20px 40px;
    margin: 3% 0;

    font-family: var(--poppins);

    /* align-self: end; */
}

.siglo20 .boton {
    color: white;
    background-color: grey;

    padding: 20px 40px;
    margin: 3% auto;

    font-family: var(--poppins);

    /* align-self: end; */
}

.seccion > p {
    text-align: justify;
    line-height: 186.5%;
}

.seccion {
    color: white;
    font-weight: 200;
}

.wrapperSiglo20 {
    display: flex;
}

.fotoPrincipalS20 {
    flex: 1;
    margin: 5% 5%;

    

    position: relative;
}

.fotos20 {
    height: 100%;

    background-image: url('../src/images/Home/siglo20/principalCuadrada.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.textoParallax {
    color: white;

    position: absolute;

    top: 30%;
    right: 10%;

    font-weight: 200;

    text-align: end;

    z-index: 9999;
}

.textoParallax p {
    color: rgba(255, 255, 255, 0.493);
}

.parrafo1 {
    display: flex;
}

.parrafo1 > p, .parrafo1 > div {
    flex: 2;
}

.independence, .brexit {
    color: white;
    font-weight: 200;
}

.independence > h1, .brexit > h1 {
    margin: 5% 0 0 5%;
    line-height: 114%;
}

.parrafo1 > p, .brexit > p {
    margin: 2% 5% 0 5%;
    line-height: 186.5%;

    height: 100%;

    text-align: justify;
}

.fotoVotacion {
    margin: 2% 5% 0 5%;

    background-image: url('../src/images/Home/siglo21/independence.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    

    position: relative;
}

.independence > p{
    text-align: justify;
    margin: 5%;
    line-height: 186.5%;

    column-count: 2;
    column-gap: 5%;
    column-fill: auto;
}

.fotoReferendum {
    background-image: url('../src/images/Home/siglo21/independence2.webp');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 25%;

    /* margin: 5%; */
}

.videoBrexit {
    height: 80vh;
    width: 100%;

    margin: 5% 0;
}

.blue {
    color: var(--colorSecundario) !important;
    font-weight: 400 !important;
}

.fotoParallax1 {
    background-image: url('../src/images/Home/parallax1.jpg');
}
.fotoParallax2 {
    background-image: url('../src/images/Home/parallax2.jpg');
}
.fotoParallax3 {
    background-image: url('../src/images/Home/parallax3.jpg');
}
.fotoParallax4 {
    background-image: url('../src/images/Home/parallax4.jpg');
}
.fotoParallax5 {
    background-image: url('../src/images/Home/parallax5.jpg');
}

.final {
    margin-top: 5%;
    color: white;
    text-align: center;
    font-weight: 200;
}

.final h1, .final p {
    margin: 5%;
}

.final > p{
    line-height: 189%;
    color: grey;
}

.fila {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filaFina {
    height: 200px;
}

.filaAncha {
    height: 400px;
}

.filaFina > div {
    flex: 1;
}

.fila > div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.filaAncha .col2{
    align-items: flex-start;
    justify-content: space-around;
}

.fila > div > p {
    z-index: 999;

    position: relative;
}

.fila > div > p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    height: 1px;
    width: 100%;
    max-width: 0;

    background-color: white;

    z-index: 999;

    transition: max-width .5s;
}

.col:hover:not(.filaAncha .col2) {
    cursor: pointer;
}

.col:hover:not(.filaAncha .col2) p::after {
    max-width: 100%;
}

.col a {
    color: white;
    text-decoration: none;
}

.traduccion {
    color: rgb(153, 153, 153);
}



.filaAncha .col1 {
    background-image: url('../src/images/Home/final/routes.jpg');
    flex: 2;
}

.filaAncha .col2 {
    background-image: url('../src/images/Home/final/cardo.jpg');

    flex: 3;
}

.filaFina .col1 {
    background-image: url('../src/images/Home/final/ciervo.jpg');
}

.filaFina .col2 {
    background-image: url('../src/images/Home/final/scotland.jpg');
}

/* ===================================================================================== TRAVEL ========================================================================================== */
.homeTravel {
    background-image: url('../src/images/Travel/Hero.jpg');
}

.homeTravel .wrapperTitulo {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 33%;

    z-index: 999;

    width: 100%;
    height: 200px;

    overflow: hidden;

    align-items: center;
    justify-content: start;

    padding-left: 10%;

    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: var(--r);
    font-weight: 100;
    line-height: 155%;
}

.homeTravel .overlayHero {
    position: absolute;
    
    height: 100%;
    width: 100%;

    left: 0;
    top: 0;

    background-color: #0000005d;

    z-index: 1;
}

.byCar {
    font-weight: 200;
    color: white;
}

.byCar > h1, .ireland > h2, .europe > h2 {
    margin: 5% 0 0 5%;
}

.ireland {
    margin-bottom: 5%;
}
.contentByCar {
    display: flex;
}

.contentByCar > p {
    text-align: justify;
    margin: 2% 5% 0 5%;

    line-height: 169%;

    flex: 1;
}

.contentByCar > div {
    flex: 1;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    margin: 2% 5% 0 5%;
}

.fotoContent1 {
    background-image: url('../src/images/Travel/EuroTunnel.jpg');
}

.fotoContent2 {
    background-image: url('../src/images/Travel/ferry.jpg');
}

.parallaxTravel {
    width: 100%;

    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: var(--poppins);
    font-weight: 200;

    padding-bottom: 2%;

    position: relative;
}

.fotoP1 {
    background-image: url('../src/images/Travel/parallax.jpg');
}

.fotoP2 {
    background-image: url('../src/images/Travel/middle.jpg');
}

.parallaxTravel h1 {
    font-size: var(--m);

    padding: 4% 0;
}

.parallaxTravel h2 {
    font-size: var(--ml);

    margin-bottom: 2%;
}

.middleOverlay {
    position: absolute;

    background-color: #3D3D3D90;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
}

.parallaxTravel *:not(.middleOverlay) {
    z-index: 999;
    position: relative;
}

.seleccion{
    position: relative;
}

.seleccion a {
    color: white;
    
    text-decoration: none;
}

.parallaxTravel .tc {
    color: white;
    font-weight: 100;
}

.seleccion::after {
    content: '';

    background-color: white;

    max-width: 0;
    width: 100%;
    height: 2px;

    bottom: -25%;
    left: 15%;
    position: absolute;

    transition: max-width .2s ease-in;
}

.seleccion:hover::after {
    max-width: 70%;
}

.links {
    width: fit-content;
    margin: 0 auto;
}

.links a {
    line-height: 200%;
}

.containerTrain, .contentPlane {
    margin: 5% 5% 0 5%;
    display: flex;
    gap: 15px;
}

.byTrain > h1, .byPlane {
    margin: 5% 0;
    font-weight: 200;
    color: white;
}

.textoRailways {
    color: white;
    flex: 1;

    font-weight: 100;
    text-align: justify;

    line-height: normal;
}

.fotoRailways {
    flex: 1;

    background-image: url('../src/images/Travel/railway1.gif');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.buttonsTrain {
    margin: 5% 5% 2% 5%;

    display: flex;
    gap: 50px;
}

.buttonTrain {
    flex: 1;

    background-color: red;
    padding: 2% 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-repeat: no-repeat;

    position: relative;

    transition: all .2s ease-in-out;
}

.buttonTrain:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.buttonTrain .seleccion {
    text-align: center;

    position: relative;

    z-index: 999;

    font-weight: 100;
}

.btn1 {
    background-image: url('../src/images/Travel/ButtonRailroad.jpg');
    background-position: center center;
}

.btn2 {
    background-image: url('../src/images/Travel/ScottishRailroad.jpg');
    background-position: center center;
}


.UIConnections {
    flex: 1;

    background-color: grey;
    display: flex;
    flex-direction: column;
}

.contentPlane {
    padding-bottom: 10%;
}

.UIHeader {
    flex: .3;
    margin: 4%;
}

.UIHeader span {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color:#3D3D3D;
    font-family: var(--outfit);
}

.UIHeader a:hover {
    cursor: pointer;
}

.UIHeader .bi {
    height: 0;
}

.directConnections {
    background-image: url('../src/images/Travel/invernessDirectConnections.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    flex: 10;

    padding-bottom: 60%;

    width: 100%;
}

.UIFooter {
    margin: 4%;
}

.UIFooter > h2 {
    color: var(--colorPrimario);
}

.inputField {
    width: 100%;

    margin: 10% 0;

    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.inputField input[type="text"] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #3D3D3D;

    color: #3D3D3D;
    font-family: 'Poppins';

    flex: 5;

    outline: none;
}

.inputField input[type="text"]::placeholder {
    color: #3D3D3D;
    font-family: 'Poppins';
    text-transform: capitalize;
}

.inputField > a {
    color: #3D3D3D;
    font-size: var(--sm);

    flex: 1;
}

.inputField > a:hover {
    cursor: pointer;
}

.buttonPlane {
    display: flex;
    justify-content: end;

    box-sizing: border-box;

    padding-right: 15%;
}

.buttonPlane a {
    border: 1px solid #3D3D3D;

    padding: 1% 7%;

    color: #3D3D3D;

    transition: color .2s ease-in;
}

.buttonPlane a:hover {
    cursor: pointer;
}

.textoRailways .buttonPlane {
    justify-content: center;
    align-items: center;
    padding-right: 0;

    margin: 5%;
}

.textoRailways .buttonPlane a {
    color: white;
    border: 1px solid white;
    
    transition: all .2s ease-in-out;
}

.textoRailways .buttonPlane a:hover {
    color: var(--grisOscuro);
    font-weight: 400;

    transform: scale(1.2);

    border: 1px solid rgb(80, 80, 80);
    background-color: grey;
}

.airlines {
    width: 100%;
    background-color: grey;
    position: relative;
}

.cajaFlotante {
    width: 40%;
    height: 20%;
    position: absolute;
    background-color: #08546C;

    left: 30%;
    top: -10%;

    text-align: center;
    font-weight: 100;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}



.logos {
    padding: 5%;

    display: flex;
    gap: 15px;
}

.logoAir {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;

    flex: 1;
    padding-bottom: 5%;
}

.logo1 {
    background-image: url('../src/images/Travel/air-scotland-british-seeklogo.svg');
}

.logo2 {
    background-image: url('../src/images/Travel/Loganair_logo.svg');
}

.travelPolicies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-weight: 300;

    color: var(--grisOscuro);

    background-color: white;

    padding-bottom: 5%;
}

.travelPolicies > h1, .travelPolicies h3 {
    margin: 5% 0 3% 0;
    color: var(--colorPrimario)
}

.travelPolicies li {
    list-style-type: disc;
    list-style-position: inside;

    line-height: normal;
}

.bring, .covid {
    padding: 0 15%;   
}

/* ==========================================================================ROUTES=========================================== */
.homeRoutes {
    background-image: url('../src/images/Routes/hero.jpg');
}
.homeRoutes .wrapperTitulo {
    display: flex;
    box-sizing: border-box;

    position: absolute;
    top: 0;

    z-index: 999;

    width: 100%;
    height: 100%;

    overflow: hidden;

    align-items: center;
    justify-content: center;

    overflow: hidden;

    color: rgb(255, 255, 255);
    font-family: 'Poppins';
    font-size: var(--m);
    font-weight: 100;
    line-height: 125%;

    letter-spacing: 35px;
}

.homeRoutes .overlayHero {
    position: absolute;
    
    height: 100%;
    width: 50%;

    left: 0;
    top: 0;

    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );

    background-color: #00000077;

    z-index: 1;
}

.routesTitle {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around;
    height: 100%;
    width: 0;
}

.routesTitle p {
    letter-spacing: 0;
}

.sliderRoute {
    position: relative;
}

.swiperCoast > h1{
    position:absolute;
    text-align: center;
}

.thurso {
    background-image: url('../src/images/Routes/Ruta1.jpeg');
}

.overlayRoutes {
    position: absolute;
    
    height: 100%;
    width: 100%;

    left: 0;
    top: 0;

    background-color: #20202046;

    z-index: 1;
}

.sliderRoute .swiper-pagination-bullet {
    background: transparent;
    color: white;

    width: fit-content;

    font-size: var(--s);
    font-family: var(--poppins);
}

.sliderRoute .swiper-pagination {
    bottom: 4%;
}

.sliderRoute .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    display: none;
}

.sliderRoute .swiper-button-next, .sliderRoute .swiper-button-prev {
    top: 92%;
    z-index: 999;
}
.sliderRoute .swiper-button-next {
    right: 25%;
}

.sliderRoute .swiper-button-prev {
    left: 25%;
}

.showMap {
    padding: 1% 2%;
    background-color: #3D3D3D84;
    border: 1px solid rgba(0, 0, 0, 0.575);

    transition: all .2s ease-in-out;
}

.showMap:hover {
    color: #3D3D3D;

    cursor: pointer;

    background-color: #9D9D9D;
}

.middleRoute {
    display: flex;
}

.middleRoute > div {
    flex: 1;
}

.about, .startEnd, .activities {
    position: relative;
    text-align: center;

    font-weight: 200;

    padding: 2%;
}

.startEnd {
    display: flex;
    justify-items: center;
    align-items: center;
}

.about::after, .startEnd::after {
    content: '';
    position: absolute;

    height: 70%;
    width: 1px;

    top: 15%;
    right: 0;

    background-color: var(--colorPrimario);
}

.about h1, .activities h1 {
    font-family: var(--poppins);
    font-size: var(--sm);

    color: var(--colorPrimario); 
    margin: 5% 0;
}

.about p, .startEnd p {
    font-family: var(--poppins);
    font-size: var(--sm);

    color: white; 
    margin: 2% 0;
}

.disclaimer {
    background-color: white;
    padding: 5% 10%;

    font-family: var(--outfit);

    color: var(--grisOscuro);

    line-height: normal;
}

.disclaimer h1 {
    margin-bottom: 5%;
}

.disclaimer p {
    text-align: justify;
}

.fondoSvg {
    background-image: url('../src/images/Travel/monteRecurso.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    padding-bottom: 40%;

    background-color: white;
}

.partners {
    background-color: #5E5E5E;
    color: white;
    padding: 5%;
}

.innerPartners {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
}

.innerPartners > div {
    flex: 1;
}

.airbnb {
    background-image: url('../src/images/Travel/airbnbRecurso.svg');
}

.google {
    background-image: url('../src/images/Travel/google.png');
}

.tripadvisor {
    background-image: url('../src/images/Travel/tripadvisor.png');
}

.logoEmpresas {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    padding-bottom: 5%;
}

.tripadvisor, .airbnb {
    padding-bottom: 10%;
}

.uniqueRoutes {
    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 99999;
    font-weight: 100;

    box-sizing: border-box;
    padding: 3%;

    gap: 15px;
}

.homeRoutes .overlayHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    position: absolute;
}

.uniqueRoutes > p {
    color: white;
    /* margin: 5% 0; */

    text-align: justify;

    
}

.tituloOrdenador {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    
    color: white;

    position: absolute;

    height: 100%;
    right: -1.5%;
}

/* ========RUTA 1============ */
.ishire {
    background-image: url('../src/images/Routes/northCoast/ishire.jpg');
}

.glen {
    background-image: url('../src/images/Routes/northCoast/glen.jpg');
}

.duncasby {
    background-image: url('../src/images/Routes/northCoast/duncasby.jpg');
}

.mey {
    background-image: url('../src/images/Routes/northCoast/mey.jpg');
}

.smoo {
    background-image: url('../src/images/Routes/northCoast/smoo.jpeg');
}

.sandwood {
    background-image: url('../src/images/Routes/northCoast/sandwood.jpg');
}

.ewe {
    background-image: url('../src/images/Routes/northCoast/ewe.webp');
}

.hebridean {
    background-image: url('../src/images/Routes/northCoast/hebridean.jpeg');
}

.beinn {
    background-image: url('../src/images/Routes/northCoast/beinn.jpg');
}


/* ========RUTA 2============ */

.fortWilliam {
    background-image: url('../src/images/Home/hero.jpg');
}

.glens {
    background-image: url('../src/images/Travel/middle.jpg');
}

/* ========RUTA 3============ */

.linlith {
    background-image: url('../src/images/Routes/outlander/linlith.jpg');
}

.blackness{
    background-image: url('../src/images/Routes/outlander/blackness.jpg');
}

.drummond{
    background-image: url('../src/images/Routes/outlander/drummond.webp');
}

.fife {
    background-image: url('../src/images/Routes/outlander/fife.jpg');
}

.highlands {
    background-image: url('../src/images/Routes/outlander/highlands.jpg');
}

.ness {
    background-image: url('../src/images/Routes/outlander/ness.jpeg');
}

.greatGlen {
    background-image: url('../src/images/Routes/outlander/greatGlenn.jpg');
}

.glenCoe {
    background-image: url('../src/images/Routes/outlander/glenCoe.jpg');
}

.edim2 {
    background-image: url('../src/images/Routes/outlander/craigmillar.webp');
}

.ayshire {
    background-image: url('../src/images/Routes/outlander/ayshire.jpg');
}

.glasgow {
    background-image: url('../src/images/Routes/outlander/glasgow.jpg');
}

/* =================================== CONTACT ============================================= */
.contactHero {
    width: 100%;
    height: 100%;

    position: absolute;
}

.canvas {
    width: 100%;

    padding-top: 150px;
    padding-bottom: 25px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    filter: opacity(.6);

    background-image: url('../src/images/Home/perth.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 80%;

    backdrop-filter: blur( 14px );
    border: 5px solid #3D3D3D30;
    background-color: #3D3D3D50;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
}

.container #map {
    height: 60vh;
}

.container .swiper-pagination {
    position: static;

    box-sizing: border-box;
    padding: 5%;

    display: flex;
    justify-content: space-evenly;
}

.container .swiper-pagination-bullet {
    background-color: transparent;

    width: fit-content;
    height: fit-content;

    position: relative;

    font-family: var(--poppins);
    font-size: var(--m);
    font-weight: 300;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 40px;

    height: 100%;

    justify-content: space-evenly;

    box-sizing: border-box;
    padding: 5% 10%;
}

.form .button {
    text-align: center;
}

.form .button a {
    padding: 15px 45px;

    border: 1px solid white;
    border-radius: 4px;

    font-family: 'Outfit';

    transition: all .2s ease-in-out;
}

.form .button a:hover {
    cursor: pointer;

    background-color: white;
    color: #3D3D3D;
}

.form input, .form textarea {
    padding: 1%;

    background-color: transparent;

    border: none;
    border: 1px solid white;
    border-radius: 4px;

    font-family: 'Outfit';
    outline: none;

    color: white;
}

.form input::placeholder, .form textarea::placeholder {
    color: white;
}

.form textarea {
    height: 200px;
}

/* =================================== FOOTER ========================================= */

.footer {
    position: relative;
}

.footer::after {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    background-image: url('../src/images/footer/Anonymous_map_of_Scotland.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: .2;
}

.content, .newsletter > * {
    position: relative;
    z-index: 999;
}

.footer, .footer a:not(.not, .leaflet-control-zoom-out, .leaflet-control-zoom-in) {
    color: white;
    text-decoration: none;
    font-weight: 100;
}

.newsletter {
    background-color: var(--colorPrimario);
    padding: 4% 0;
}
.newsletter > h1 {
    text-align: center;
    /* margin: 2% 0; */
    color: white;
    font-weight: 100;
}

.rellenable {
    display: flex;
    justify-content: center;

    margin: 2% 0 2% 0;
}

.rellenable input {
    margin: 1%;
}

.rellenable input[type="text"] {
    background-color: transparent;
    padding: 1%;

    border: none;
    border-bottom: 2px solid white;
    width: 40%;
    outline: none;

    color: white;

    transition: all .2s ease-in-out;
}

.rellenable input[type="text"]::placeholder {
    color: white;
    font-size: var(--s);
    font-weight: 100;
    font-family: var(--outfit);
}

.rellenable input[type="text"]:focus {
    width: 100%;
}

.rellenable button {
    background-color: transparent;
    border: none;

    transition: all .2s ease-in-out;
}

.rellenable button:hover {
    cursor: pointer;
    transform: scale(1.4);
}

.socials {
    display: flex;
    justify-content: center;
}

.bi {
    height: 30px;
    width: 30px;
}

.zoom {
    transition: all .2s ease-in-out;
    margin: 0 3%;
}

.zoom:hover{
    transform: scale(1.2);
}

.terms {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    font-weight: 100;
}

.terms input[type="checkbox"] {
    cursor: pointer;

    height: 20px;
    width: 20px;

    margin-right: 1%;
}

.terms a{
    color: white;
    text-decoration: none;
}

.content {
    margin: 5% 5% 0 5%;
}

.info {
    display: flex;

    font-family: var(--outfit);
    font-size: var(--s);
}

.navigationFooter {
    flex: 1;

    text-align: center;
}

/* .info > div > h1 {
    text-decoration: underline;
} */

.navigationFooter ul li {
    margin-bottom: 10%;
    
}

.offices {
    flex: 1;

    text-align: center;
}

.officesMap {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 5%;

    display: flex;
    gap: 15px;
}

.locations {
    display: flex;
    flex-direction: column;

    float: left;
    justify-content: space-around;
}

#footerMap {
    flex: 1;
}

.locations a {
    margin-bottom: 10%;

    transition: all .2s ease-in-out;
}

.locations a:hover{
    transform: scale(1.1);
    color: var(--colorTerciario);
    font-weight: 400;
}

.powered {
    width: 100%;
    text-align: center;

    font-family: var(--poppins);
    font-size: var(--m);

    padding: 3% 0;
    margin: 5% 0 3% 0;
}

.socials {
    width: 100%;
    text-align: center;
    font-size: 2em;

    padding: 2% 0;
}

.socials a {
    margin: 3%;
}

.policies {
    width: 100%;

    font-family: var(--poppins);
    font-size: var(1em);

    font-weight: 100;

    display: flex;
    justify-content: center;

    padding: 2%;
}

.policies a {
    transition: all .2s ease-in;
}

.policies a:hover {
    transform: scale(1.1);
}

.copy {
    text-align: center;
    font-family: var(--poppins);
    font-size: var(1.2em);
}

.policies p {
    margin: 0 1%;
}

@media screen and (max-width: 1160px) {

    html {
        --s: 1.2em;
    }

    .homeHero {
        background-image: url('../src/images/Home/hero.jpg');
    }

    .homeHero .overlayHero {
        position: absolute;
    
        height: 100%;
        width: 100%;
    
        left: 0;
        top: 0;
    
        background-color: #0000005d;
    
        z-index: 1;
    }

    .heroHome .titulo {
        color: rgb(177, 177, 177);
        font-family: 'Roboto Condensed';
        font-size: var(--l);

        text-shadow:3px 3px 20px #3D3D3D;
        
        letter-spacing: 32px;
        margin-right: -32px;
    }

    .siglo, .wrapperSiglo20 {
        flex-direction: column;
    }

    .fotos20{
        background-image: url('../src/images/Home/siglo20/principal.jpg');
        padding-bottom: 50%;
    }

    .parrafo1 {
        flex-direction: column;
        justify-content: center;
    }

    .fotoVotacion {
        flex: 1;
        padding-bottom: 50%;
        background-size: contain;
    }

    .independence > p {
        columns: unset;
    }

    .entradilla {
        flex-direction: column;
    } 

    .swiper-slide .contenido {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 780px) {
    html {
        --xxs: .7em;
        --xs: .9em;
        --s: 1em; /* 17/16 */
        --sm: 1.2em; /* 24/16 */ 
        --m: 2em; /* 32/16 */
        --ml: 2.6875em; /* 43/16 */
        --r: 2.4em;
        --l: 3em; /* 96/16 */
    }

    .contenidoMapa {
        width: 100%;
    }

    /* nav {
        position: fixed;
    } */

    .wrapperLogo {
        justify-content: start;
    }

    .logo {
        margin-left: 5%;
    }

    .collapsible {
        display: block;

        right: 0;
        top: 4%;

        position: fixed;

    }

    .menuButton {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    .menuButtonBurger{
        width: 50px;
        height: 2px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(82, 82, 82, 0.397);
        transition: all .5s ease-in-out;
    }

    .menuButtonBurger::before,
    .menuButtonBurger::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 2px rgba(82, 82, 82, 0.397);
        transition: all .5s ease-in-out;
    }

    .menuButtonBurger::before {
        transform: translateY(-16px);
    }

    .menuButtonBurger::after {
        transform: translate(25px, 16px);
        width: 25px;
    }

    .menuButton.open .menuButtonBurger {
        transform: translateX(-50px);
        background-color: transparent;
        box-shadow: none;
    }

    .menuButton.open .menuButtonBurger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menuButton.open .menuButtonBurger::after {
        width: 50px;
        transform: rotate(-45deg) translate(35px, 35px);
    }

    nav .nav {
        display: none;
    }

    .sliderHome .swiper-pagination-bullet {
        height: 2px;
    }

    .sliderRoute .swiper-button-next {
        right: 10%;
    }
    
    .sliderRoute .swiper-button-prev {
        left: 10%;
    }

    .sliderHome .swiper > h1 {
        text-align: left;
        margin: 10% 0 0 10%;
    }

    .swiperCoast > h1 {
        margin: 10% 0 0 0;
    }

    .parallax {
        background-attachment: local;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .navHistory {
        margin: 7%;
    }

    .independence > h1, .brexit > h1 {
        margin: 15% 0 5% 5%;
    }

    .filaAncha .col2{
        flex-direction: column;
        align-items: center;
    }

    .info {
        flex-direction: column;

        gap: 50px;
    }

    .active::after {
        content: "";
        position: absolute;
    
        height: 1px;
        width: 15px;
    
        right: -55%;
        top: 50%;
    
        background-color: white;
    
        z-index: 999;
    }
    
    .active::before {
        content: "";
        position: absolute;
    
        height: 1px;
        width: 15px;
    
        left: -55%;
        top: 50%;
    
        background-color: white;
    
        z-index: 999;
    }

    .fotoReferendum {
        padding-bottom: 50%;
    }

    .contentByCar {
        flex-direction: column;
        margin-bottom: 15%;
    }

    .fotoContent1, .fotoContent2 {
        padding-bottom: 50%;
    }

    .containerTrain {
        flex-direction: column;
    }

    .fotoRailways {
        padding-bottom: 50%;
    }

    .buttonsTrain {
        flex-direction: column;

        margin-bottom: 10%;
    }
    
    .buttonTrain {
        padding: 10% 5%;
    }

    .parallaxTravel {
        background-attachment: local;
    }

    .contentPlane {
        flex-direction: column;

        margin-top: 5%;
    }

    .homeRoutes .overlayHero {
        position: absolute;

        height: 30%;
        width: 100%;
        top: 70%;
        left: 0%;
    }

    .routesTitle {
        display: none;
    }

    .homeRoutes .overlayHero > p {
        display: block;
        color: white;

        position: absolute;

        width: 100%;
        text-align: center;
        top: -2%;

        letter-spacing: 40px;
    }

    .tituloOrdenador {
        left: 0;
        flex-direction: row;
        top: -3.5%;

        height: auto;
        width: 100%;
    }

    .officesMap {
        flex-direction: column;
    }

    #footerMap {
        display: none;
    }

    .container .swiper-pagination {
        padding: 10%;
    }

    .siglo .boton, .siglo20 .boton {
        margin: 3% 0;
        margin-left: auto;
    }

}

@media screen and (max-width: 470px) {
    html {
        --l: 2em;
        --m: 1.5em;
        --sm: 1.1em;
        --r: 2.1em;
    }

    .hero:not(.homeRoutes) .titulo {
        letter-spacing: 25px;
    }

    .sliderHome .swiper > h1 {
        text-align: left;
        margin: 15% 0 0 15%;
    }

    .swiperCoast > h1 {
        margin: 15% 0 0 0;
    }

    .sliderHome .swiper-pagination {
        height: 1%;
    }

    .wrapperTitulo {
        top: 20% !important;
    }

    .titulo {
        letter-spacing: 5px !important;
    }
    
    .logoAir {
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100%;

        flex: 1;
        padding-bottom: 15%;
    }   
}

@media screen and (max-height: 550px) and (orientation: landscape) {
    .reescaladoPortrait {
        height: 200vh !important;
    }

    .container #map {
        height: 150vh;
    }
}



